form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  border: 2px outset  rgb(255, 234, 219);;;;
  border-radius: 10px;
  background: none;
  height: 45vh;
}

label {
  color:rgb(255, 234, 219);
  font-size: 1.2rem;
  padding-bottom: .5rem;
}

input {
  width: 10vw;
}

.contained {
  display: flex;
  justify-content: space-around
}

.input-unit {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}

textarea {
  width: 20vw;
}

input, textarea {
  background-color: rgb(255, 234, 219);
  border-radius: 10px;
}

.btnsend {
  margin: 1rem;
  background-color: #fc5200;
  height: 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  color: rgb(21, 37, 45)
}

.form-title {
  color: rgb(255, 234, 219);
  font-size: 1.5rem;
  margin-top: 2rem;
}