form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  border: 2px outset  rgb(255, 234, 219);;;;
  border-radius: 10px;
  background: none;
  height: 40vh;
}

label {
  color:rgb(255, 234, 219);
  font-size: 1.2rem;
  /* padding-bottom: .5rem; */
  font-weight: 100;
  margin-bottom: .1rem;
  
}

input {
  width: 10vw;
  margin-bottom: 0;
}

.contained {
  display: flex;
  justify-content: space-around
}

.input-unit {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}

textarea {
  width: 20vw;
  margin-bottom: .4rem;
}

input, textarea {
  background-color: rgb(255, 234, 219);
  border-radius: 10px;
}

.btnsend {
  margin: 1rem;
  background: none;
  /* background-color: #fc5200; */
  height: 2rem;
  border: 2px outset #fc5200;
  border-radius: 10px;
  font-size: 1rem;
  color: #fc5200;;
  /* color: rgb(21, 37, 45) */
}

.btnsend:hover {
  cursor: pointer;
  background-color: #fc5200;
  border: none;
  transition: .3s;
  color: rgb(21, 37, 45)
}

.btnsend:active {
  transform: scale(1.1);
  transition: .3s;
}

.form-title {
  color: rgb(255, 234, 219);
  font-size: 1.5rem;
  margin-top: 2rem;
}