.PortfolioBar {
  background-color:white;
  padding-left: 50vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: max-content
}
