/* Slideshow */

.slideshow {
  margin: 5px auto;
  overflow: hidden;
  width: 40vw;
  /* min-height: 50vh; */
  border: 2px outset rgb(54, 94, 114);
  border-radius: 10px;
  background: rgb(21, 37, 45)
  /* box-sizing: border-box; */
}

.moreInfo {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  overflow: auto;
  justify-content: space-between;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  /* border-top: 2px inset white;
  border-bottom: 2px inset white; */
  box-sizing: border-box;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  cursor: pointer;
  margin: 10px;

  background-color: rgb(207, 215, 214)
}

.slideshowDot.active {
  background-color: #fc5200;
}

h2 {
  font-size: 1rem;
  color: rgb(255, 234, 219);;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1em;
}

.icon-information, .icon-home {
  height: 1.2rem;
  justify-self: flex-end;
}

.icon-information:hover, .icon-home:hover {
  cursor: pointer;
}

.primary {
  fill: rgb(207, 215, 214);
}

.icon-information:hover .primary {
  fill: #fc5200;
  transition: .3s
}

.secondary {
  fill: rgb(21, 37, 45)
}

.project-summary {
  width: 30vw;
  align-self: center;
  margin: 0;
  font-size: 1rem;
  color: rgb(255, 234, 219);
}

.project-buttons {
  padding: 1rem;
  display: flex;
  justify-content: center;
  color:  hsl(210, 36%, 96%);
  text-decoration: none;
}

a {
  padding: .5rem;
  margin: .5rem;
  color:  #fc5200;
  /* text-decoration: none; */
}

.recent-header {
  margin-top: 6vh;
  font-size: 2rem;
}