.Statement {
  width: 50vw;
  height: 100vh;
  position: fixed; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  /* background: linear-gradient(to top, #3204fdba, #9907facc), url('/Users/jack/home/pd/portfolio/src/Jack-Alfonso-headshot.jpeg') no-repeat top center; */
  background-position: center;
  color: black;
  border-right: 1px gray solid;
}

.name {
  font: 'Roboto';
  font-size: 4rem;
  margin-bottom: 0;
}

.dev {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin: 0;
}

.stack {
  width: 50vw; /* Adjust the width as needed */
  display: flex;
  justify-content: flex-end; /* Align items to the end to start the animation from the right */
  align-self: flex-end;
  overflow: hidden;
}

.scroll-wrapper {
  display: flex;
  animation: scroll 12s linear infinite;
}

/* Keyframes for the scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(-100%); /* Start from the right */
  }
  100% {
    transform: translateX(100%); /* Move to the left completely */
  }
}

.summary {
  width: 40vw;
  font-size: 1.5em;
  margin: 0;
}

.intro {
  text-align: center;
  flex-basis: auto;
}

a {
  margin: 5px;
}

.icon-mail {
  height: 3rem
}

.label {
  margin: 0;
  font-size: 1.5rem;
}