.Statement {
  width: 50vw;
  height: 100vh;
  position: fixed; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  /* background: linear-gradient(to top, #3204fdba, #9907facc), url('/Users/jack/home/pd/portfolio/src/Jack-Alfonso-headshot.jpeg') no-repeat top center; */
  background-position: center;
  color: black;
  border-right: 1px gray solid;
}

.name {
  font: 'Roboto';
  font-size: 4rem;
  margin-bottom: 0;
}

.dev {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin: 0;
}

.stack {
  /* background-color: white; */
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;
}

.summary {
  width: 40vw;
  font-size: 1.5em;
  margin: 0;
}

.intro {
  text-align: center;
  flex-basis: auto;
}

a {
  margin: 5px;
}